body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f1ea;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5a3e36;
    color: white;
    text-align: center;
    padding: 50px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    color: #f4a300; /* Color al pasar el mouse */
}

/* Sección Historia */
.seccion {
    padding: 40px;
    text-align: center;
    border-bottom: 2px solid #ddd;
}

.imagen-historia {
    width: 80%;
    max-width: 700px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Sección Catalogo */
.libros-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    display: none;
}

.libro {
    background: white;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 200px;
}

.libro img {
    width: 100%;
    border-radius: 5px;
}

/* Cuadros de reseñas */
.reseñas-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cuadro-reseña {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cuadro-reseña h3 {
    text-align: center;
}

/* Redes sociales */
.redes a {
    margin: 0 10px;
}

.redes img {
    width: 40px; /* Tamaño pequeño de las imágenes */
    height: auto;
}
