body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f1ea;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5a3e36;
    color: white;
    text-align: center;
    padding: 50px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #f4a300;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Sección Historia */
.seccion {
    padding: 40px;
    text-align: center;
    border-bottom: 2px solid #ddd;
}

.imagen-historia {
    width: 80%;
    max-width: 700px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Sección Catalogo */
.libros-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    display: none;
}

.libro {
    background: white;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 200px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease-in-out;
}

.libro.show {
    opacity: 1;
    transform: translateY(0);
}

.libro img {
    width: 100%;
    border-radius: 5px;
}

/* Botón Alquilar */
.boton-alquilar {
    background-color: #5a3e36;
    color: white;
    font-size: 16px;
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.boton-alquilar:hover {
    background-color: #f4a300;
    transform: scale(1.1);
}

/* Sección Sinopsis */
#sinopsis-contenido {
    text-align: left;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#volver-btn {
    background-color: #5a3e36;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

#volver-btn:hover {
    background-color: #f4a300;
}

/* Redes sociales */
.redes a {
    margin: 0 10px;
}

.redes img {
    width: 40px;
    height: auto;
}

/* Estilo para el botón de "Ver Catálogo" */
#ver-catalogo-btn {
    background-color: #f4a300;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#ver-catalogo-btn:hover {
    background-color: #e08a00;
    transform: scale(1.1);
}
